.notfound{
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.notfound h1 {
    color: white;
}

.notfound img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}