.modalContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
} 
.backdrop{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20; 
    background: rgba(0, 0, 0, 0.75);
}
.modalItem{
    position: absolute;
    top: 10%;
    left: 17.5%; 
    width: 65vw;
    height: 80vh;
    /* margin-left: 15%;
    margin-top: 10%; */
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    background: rgb(36,42,50);
background: linear-gradient(90deg, rgba(36,42,50,1) 9%, rgba(36,42,50,1) 9%);
    z-index: 20;

}