.actionBtnContainer {
  width: 80%;
  height: 3rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(249, 249, 249, .1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms;
}
.actionBtnContainer:hover{
    background: rgba(249, 249, 249, .3);
    
    transform: scale(1.05);
  }
.actionBtn {
  width: 35%;
  height: 60%;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btnImg {
  height: 50%;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* button{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
} */

@media only screen and (max-width: 600px){
  .actionBtnContainer{
    height: 2rem;
  }
  .actionBtn{
    font-size: .8rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .actionBtnContainer{
    height: 2.2rem;
  }
  .actionBtn{
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .actionBtnContainer{
    height: 2.5rem;
  }
  .actionBtn{
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .actionBtnContainer{
    height: 2.8rem;
  }
  .actionBtn{
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
